*.html
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/*.NGGMLGM
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/Archive/
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/Backup/
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/*.cydsn/codegentemp/
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/*.cydsn/CortexM3/
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/*.cydsn/Export/
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/*.cydsn/Generated_Source/
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/*.cydsn/*.html
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/*.cydsn/*.NGGLMLGM