*.html
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/Archive/*
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/Backup/*
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/FreeRTOS_Demo.cydsn/codegentemp/*
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/FreeRTOS_Demo.cydsn/CortexM3/*
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/FreeRTOS_Demo.cydsn/Export/*
FreeRTOS/Demo/CORTEX_CY8C5588_PSoC_Creator_GCC/FreeRTOS_Demo.cydsn/Generated_Source/*
*.ctl
*.NGGMLGM
*.lst
*.cyfit
*.rpt
*.pci
*.plc_log
*.hex
*.o
*.NGGMLGM